<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <span class="username"><a
                            href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
                    <time class="time"><a
                            href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a>
                    </time>
                    <br>
                <h3>{{ post.message_html|safe }}</h3>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    {% if user.is_authenticated and post.user == user and not hide_delete %}
                        <a href="{% url 'posts:delete' pk=post.pk %}" class="level-item" aria-label="retweet">
                        <span class="icon is-small">
                          <i class="delete" aria-hidden="true"></i>
                        </span>
                        </a>
                    {% endif %}
                    <form action="{% url 'posts:like-post' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% if liked %}
                                <button type="submit" name="post_id" value="{{ post.id }}"
                                        class="button is-small is-danger is-rounded">Unlike
                                </button>
                            {% else %}
                                <button type="submit" name="post_id" value="{{ post.id }}"
                                        class="button is-small is-success is-rounded">Like
                                </button>
                            {% endif %}
                        {% else %}
                            <small><a href="{% url 'accounts:login' %}">Login to like</a></small>
                        {% endif %}
                        - {{ post.total_likes }} likes
                    </form>
                </div>
            </nav>
        </div>
    </article>
</div>